@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap');

body {
    background-color:rgb(165, 150, 150);
    font-family: 'Lexend', sans-serif;
    letter-spacing: 400;
    font-weight: 200;
}
h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 5px;
    color:rgb(62, 62, 62);
    text-align: center;
}
h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    color:rgb(62, 62, 62);
    text-align: center;

}
p  {
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    color:rgb(62, 62, 62);
    text-align: left;

}
nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
    
}

nav a {
    text-decoration: none; 
    color:rgb(62, 62, 62);
}